h1{
  colour:red;
}
.important{
 margin: 5px;
 float :left;
 font family: fantasy;
}
.body{
  background-color: blue;
}
.image{
  float:left:
  margin right:
  margin left:
}
.unimportant
{
hobies i like:
}
 .sidebar{
 fontstyle:italic;
}
